<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Join club</title>
  </head>
  <body>
    <h1>Join the club!</h1>
    <form action="/join-club" method="post">
      <label for="secretCode">Secret code : </label>
      <input type="text" name="secretCode" id="secretCode" />
      <button>Join</button>
    </form>
  </body>
</html>
