<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <%- include("partials/errors.ejs") %>
    <form action="/sign-up" method="POST">
      <fieldset>
        <legend>Sign up form</legend>
        <label for="firstName">First name : </label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          value="<%= oldData.firstName || '' %>"
        />
        <label for="lastName">Last name : </label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          value="<%= oldData.lastName || '' %>"
        />
        <label for="username">Username : </label>
        <input
          type="text"
          name="username"
          id="username"
          value="<%= oldData.username || '' %>"
        />
        <label for="password">Password : </label>
        <input type="password" name="password" id="password" />
        <label for="confirmPassword">Confirm password : </label>
        <input type="password" name="confirmPassword" id="confirmPassword" />
        <button type="submit">Sign Up</button>
      </fieldset>
    </form>
  </body>
</html>
